@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Welcome to our BookStore!!</h1>
    <p>Buy and Sell Books at affordable price From BookWell!</p>
    <img class="img-fuid" src="/images/Bookstore.jpg" alt="">
</div>
